<div style="background: url("http://yoursite.com/images/image_name.gif") 50% 50% no-repeat/;">
<h1>Origins</h1>

<p>Developed by From Software and Sony Japan Studio, Bloodborne is a spiritual sequel to the critically acclaimed Demon's Souls. The original game's appeal lay with its renowned difficulty and trial-and-error approach, one that Bloodborne promises to sustain and improve on.</p>

<li class="text-divider"></li>
<h1>Software</h1>

<p><li>Bloodborne was announced on June 9th 2014 during Sony's E3 conference. The title had previously been leaked as "Project Beast"
<li>The series' creator, From Software's Hidetaka Miyazaki, has joined the original Demon's Souls team and posted these comments:From SCE WWS Shuhei Yoshida (吉田修平):
	<li>"Bloodborne is a completely new original title under the PS4 platform. It is a collaboration among Miyazaki after Demon's Souls, Fromsoft and JAPAN studio. This time, we are extremely happy to make announcement at the E3 press conference where fans around the world pay attention to. Powered by the PS4 network, the development team worked hard to bring a new way to play and experience the world filled with mystery mood in a gothic-horror setting, featuring a simple and yet brutal but also strategic game style. Please wait with great expectations.</li>
</li>
<li>The Souls series is known for medieval fantasy settings with castles and dungeons a common sight. However, Bloodborne is based in the city of Yharnam which is described as "ancient" and "forgotten." The city is characterized by a Victorian era feel. Sony has promised a rich, detailed world that highlights the power of the PS4.</li>
<li>The plot revolves around the city being known for an old medical remedy which the player character will attempt to seek out. Making this task difficult is the endemic elements that have created "nightmarish creatures" and "malformed beasts."</li>
<li>The combat style is said to be quicker and more offensive based. Preliminary information suggests that shield may not make an appearance, with both hands being used for weapons. Early reports indicate that a gun and scythe like weapon will be the go to gear for this game.</li>
<li>The game is already available for preorder though the PlayStation store as well as some retailers. Sony is promising a Spring of 2015 release while Gamestop.com has a tentative release date of 3/31/2015, which is likely a placeholder date.</li>
<li>Online modes will exist but information is currently not being shared about specific ways players will be able to interact with each other.</li></p>

<li class="text-divider"></li>
<h1>Concepts</h1>

<li class="text-divider"></li>
<h2>Developmental</h2>

<p><li>The game is not a direct sequel to any Souls game.</li></p>

<li class="text-divider"></li>
<h2>General</h2>
<p></p>

<li class="text-divider"></li>
<h1>Notable Differences with Demon Souls</h1>

<p><li>The game features Day and Night cycles.</li>
<li>Blocking and defensive play are limited.</li>
<li>New Regain system allows players to get their health back.</li></p>

<li class="text-divider"></li>
<h1>Game Data</h1>

<table class="tables">
	<tr>
		<th>Name</th>
		<td>BLOODBORNE</td>
		<td>ブラッドボーン</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Cover</th>
		<td align="center"><img src="images/covers/beast/ps4.jpg" alt="PS4 Cover" style="height: 189px; width: 150px;" /><br />PS4 Cover</td>
		<td align="center"><img src="images/covers/spacer.png" style="height: 189px; width: 150px;" /><br />
		<td align="center"><img src="images/covers/spacer.png" style="height: 189px; width: 150px;" /><br />
		<td align="center"><img src="images/covers/spacer.png" style="height: 189px; width: 150px;" /><br />
	</tr>
	<tr>
		<th>Release Date</th>
		<td>NA:<br/>24/3/2015</td>
		<td>EU:<br/>27/3/2015</td>
		<td>JP:<br/>24/3/2015<</td>
		<td></td>
	</tr>
	<tr>
		<th>Genre</th>
		<td>Action</td>
		<td>RPG</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Price</th>
		<td>Regular Edition: <br />
			59.99 USD<br />
			7,200 YEN</td>
		<td>Collector's Edition: <br />
			79.99 USD<br />
			9,500 YEN</td>
		<td>Nightmare Edition: <br />
			119.99 EUR<br />
			15,600 YEN</td>
		<td></td>
	</tr>
	<tr>
		<th>Rating</th>
		<td>Teen</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Online</th>
		<td>PlayStation Network</td>
		<td>Requires PS+ for Multiplayer</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Developer</th>
		<td>From Software</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Publisher</th>
		<td>Sony Computer Entertainment</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Director</th>
		<td>Miyazaki Hidetaka</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Official Site</th>
		<td><a href="http://www.jp.playstation.com/scej/title/bloodborne/" rel="nofollow" target="_blank">Japanese Site</a></td>
		<td><a href="http://www.playstation.com/en-us/games/bloodborne-ps4/" rel="nofollow" target="_blank">English Site</a></td>
		<td></td>
		<td></td>
	</tr>
</table>
</div>
</style>