<h1>Origins</h1>

<p>Developed by From Software, Dark Souls 2 is a sequel to the critically acclaimed Dark Souls, an action RPG with estimated sales of over 1.5 million units. The original game's appeal lay with its renowned difficulty and trial-and-error approach, one that Dark Souls 2 promises to sustain.

As of the 24th of March, 100 million souls have died on PS3, and 35 million souls have died on Xbox 360.</p>

<li class="text-divider"></li>
<h1>Software</h1>

<p><li>Dark Souls II was announced on December 8th on the Spike TV Video Game Awards.</li>
<li>The series' creator, From Software's Hidetaka Miyazaki, will serve only as a supervisor on the sequel, while the game will actually be co-directed by From's Tomohiro Shibuya and Yui Tanimura.</li>
<li>Shibuya's comments about the game don't shed a whole lot of light on the sequel, other than to indicate that the new title will be faithful to the older ones but also introduce new things (as expected, of course). "This new chapter in the Dark Souls saga presents opportunities for us to drive innovation in gameplay design, develop an entirely new story, and expand the scope of the world in which the player interacts with the game. We have taken these necessary steps with Dark Souls II in order to evolve the overall experience of the Dark Souls series...the entire development team is striving to make Dark Souls II an experience that is fresh while not forsaking its roots in presenting players with challenging gameplay. Our goal is to surprise and delight our fans with new experiences and plot twists while enticing new players to join our dark journey."</li>
<li>According to the game's publisher, the new game "will feature a new hero, a new storyline, and an unfamiliar world for players to survive in while delivering its signature brand of unrelenting punishment that players hunger for." It seems that multiplayer is going to be tweaked as well. Demon's Souls and Dark Souls had an unusual multiplayer system that allowed users to do everything from leaving quest hints for each other to invading each other's games.</li>
<li>So what to make of this bit from the press release about Dark Souls II? "Players seeking to share their experience will discover a revamped server-based multiplayer mode that will put a distinct Dark Souls II twist on the concept of playing with others."</li>
<li>The game's publisher, Namco, is promising a game full of "unrelenting challenge."</li>
<li>Collector's edition and black armor edition (aka pre-order edition) have been announced. Black Armour edition contains metal case and soundtrack. Collector's edition contains black armor edition, 30 cm/12" warrior knight figurine,art book and authentic cloth game map.</li></p>

<li class="text-divider"></li>
<h1>Concepts</h1>

<h2>General</h2>
<p><li>The game is not a direct sequel to Dark Souls.</li>
<li>As the game's protagonist, the players will embark on a journey to remove from themselves the affliction of a curse.</li>
​<li>Bonfires and covenants return, as do gestures.</li>
<li>The difficulty level will remain, with the focus staying on learning from death to overcome challenges. The variety in ways to die has been prioritized but the focus is still on fairness.</li>
<li>Story will be presented in the same fashion as Demon's and Dark, unobtrusive and discoverable by players who wish to dig deeper.</li>
<li>Confusion over the usage of the word "accessible" has been clarified. What From means to do is streamline the tediousness by trimming the fat. There will be less backtracking and excessive traveling. Not being able to warp until later in the first game was a specific example cited.</li>
<li>While characters will not be able to be carried over from Dark Souls into the sequel, the directors mentioned some content will carry over although it is not entirely clear what or how.</li>
<li>Next gen was discussed and rumored still but the director has said it will be current gen to deliver the game to fans sooner.</li>
<li>A new graphics engine was created to address frame-rate issues and give the development team an extra tool in creating atmosphere. PC will run at 60 fps and <li>Console versions will run at 30 fps.</li>
<li>Online interaction will be server based to facilitate unique experiences. It is unclear as of yet if they will be region based or not.</li>
<li>Environment traversal will encourage the player to go deeper into areas in darkness. A torch system has been implemented to provide light during these portions.</li>
<li>Mist will perform the same gateway function that fog walls performed in Demon's Souls and Dark Souls.</li>
<li>The goal is to get the players to feel the emotional fright of areas and to also have enemies elicit emotions in the players.</li>
<li>Key Mouths that trigger in game events are also a new addition.</li>
<li>Gameplay videos showed players using items and firing an arrow while walking.</li>
<li>Enemies were shown with the ability to backdrop and throw their weapon at players.</li>
<li>The player character was able to cycle through three pieces of equipment in each hand, and his roll speed seemed to be determined by which weapons he had equipped, rather than his total equipment burden. This is a peculiar departure from the first two Souls games, wherein all equipped items counted toward your roll speed. It is also entirely possible that the roll speed of the character is based upon the over-all weight of equipment visible on the player. This would mean that if equipment is in a slot but not in the main hand it may not count towards the player's total weight.</li>
<li>Healing gems that regenerate health slowly are a new feature and will drop from enemies. It is unclear how common they will be. From the various gameplay demos and the network test, lifegems seem to be very common drops, though it is possible that this was only to make the demos and beta easier.</li>
<li>Dual wield class will have a power stance initiated instead of two handing a weapon.</li>
<li>Backstabs return although the animation seems to have changed. Remains to be seen how it affects other weapons.</li>
<li>Kick has been replaced with a shoulder shunt.</li>
<li>From has said starting classes have changed. The game will monitor your stat allocation and suggest a class based on your trajectory.</li></p>


<h2>General</h2>

<p><li>The game revolves around the mark of the curse and it's role in the cycle of life.</li>
<li>The game world of medieval fantasy</li>
<li>Exploration of the world will be vital and, thanks to a seamless map, accessible by simply walking.</li>
<li>No maps in hand, the player will have to rely on descriptions and observation.</li>
<li>The game will feature complex environments, with tricks, traps and significant height differences.</li>
<li>Bonfires scattered throughout the world will serve as starting points/checkpoints and as oases for recovery. The player will be able to rest by the bonfire to replenish health, Est and spells.</li>
<li>Human Effigy is another new concept, it is used to revive from Undead to Human, and to strengthen Bonfires, keeping invaders away temporarily. A Human player can summon Undead players, but will also be open to invasions. Though, if Undead, and depending on how strong the curse is, an invasion is more likely, so there's a focus in staying alive, human, and engaging with others in jolly co-operation!</li>
<li>The game will feature different motions and traits for weapons, as well as a great variety of magic and items, encouraging the player to find their own and unique playstyle.</li>
<li>
	<li>The motion will affect the speed and rest of each blow, based on parameters such as the player's strength and ability.</li>
	<li>Tactics such as bypass armor should also be parameter-dependent.</li>
</li>
<li>The expected playtime is similar to Dark Souls.</li>
<li>Takes place in the fictional land of Dranglaic.</li></p>

<li class="text-divider"></li>
<h1>Notable Differences with Dark Souls</h1>

<h2>General</h2>
<p><li>You can now be invaded while hollow</li>
<li>Each death will lock away portions of your health bar, making it lower until a maximum of 50%</li>
<li>New healing items that recover health have been added. They are called "Life Gems"</li>
<li>New invasion and matchmaking parameters have been set. See the Online section for more information.</li>
<li>The Story and World are not exactly as Dark Souls. See the Lore page for more information.</li>
<li>The new land features pitch-black areas that require a torch. See the Locations page for more information.</li>
<li>The possibility of combining different upgrade paths has been added.</li>
<li>Spells now take away a certain amount stamina to cast</li>
<li>Estus flask starts with 1 use and is upgraded with shards of estus flask</li>
<li>Now, most enemies will stop respawning after being defeated around 15 times. After this quota is met, resting at a bonfire will not respawn them.</li></p>

<h2>New Game +</h2>
<p><li>Sin now carries over NG+ and further on.</li>
<li>A NG+ now contents many enemies that dont appear in NG, as well a series of NPC Red Phantoms who will invade the player since the first areas.</li>
<li>A notable difficulty has been noticed as well as an increment on enemies life and defense.. the average ending soul level for a NG is 90-130 sl.</li>
<li>At SL 150 including 40 faith and 40 strength, the first three enemies on NG+ appeared significantly hard even for that level.</li></p>

<li class="text-divider"></li>
<h1>Game Data</h1>

<table class="tables">
	<tr>
		<th>Name</th>
		<td>DARK SOULS II<br />ダークソウル II</td>
		<td>SCHOLAR OF FIRST SIN<br />数量限定特典</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Cover</th>
		<td align="center"><img src="images/covers/dark-ii/ps3.jpg" alt="PS3 Cover" style="height: 189px; width: 150px;" /><br />PS3 Cover</td>
		<td align="center"><img src="images/covers/dark-ii/360.jpg" alt="XBOX Cover" style="height: 189px; width: 150px;" /><br />XBOX 360 Cover</td>
		<td align="center"><img src="images/covers/dark-ii/pc.jpg" alt="PS3 Cover" style="height: 189px; width: 150px;" /><br />PC Cover</td>
		<td align="center"><img src="images/covers/spacer.png" style="height: 189px; width: 150px;" /><br />
	</tr>
	<tr>
		<th>Release Date</th>
		<td>NA:<br />03/11/2014</td>
		<td>EU:<br />14/03/2014</td>
		<td>JP:<br />13/03/2014</td>
		<td>PC:<br />25/04/2014</td>
	</tr>
	<tr>
		<th>Genre</th>
		<td>Action</td>
		<td>RPG</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Price</th>
		<td>Regular Edition:<br />
			59.99 USD<br />
			7,800 YEN<br /></td>
		<td>Black Armor Edition:<br />
			119.99 USD<br />
			12,000 YEN</td>
		<td>Schoalr of First Sin:<br />
			59.99 USD
			6,000 YEN</td>
		<td></td>
	</tr>
	<tr>
		<th>Rating</th>
		<td>Teen</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Online</th>
		<td>PlayStation Network</td>
		<td>Xbox LIVE</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Developer</th>
		<td>From Software</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Publisher</th>
		<td>From Software (Japan)</td>
		<td>Namco Bandai Games (Int'l)</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Director</th>
		<td>Tomohiro Shibuya</td>
		<td>Yui Tanimura</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Official Site</th>
		<td><a href="http://darksouls.jp/pc/" rel="nofollow" target="_blank">Japanese Site</a></td>
		<td><a href="http://www.darksoulsii.com/us/" rel="nofollow" target="_blank">English Site</a></td>
		<td></td>
		<td></td>
	</tr>
</table>
<br/>
<br/>
<br/>