<h1>Origins</h1>

<p>Developed by From Software, Dark Souls is the spiritual successor to the Playstation exclusive Demon's Souls, an action RPG experience that surprised by not only gaining critical acclaim, but obtaining publishing in 3 regions and racking estimated sales of over 1 million units. The original game's appeal lay with its renowned difficulty and trial-and-error approach, one that Dark Souls promises to sustain, thus attracting Demon's Souls' fanbase. The developer and publisher had both stated that there were no intentions for DLC however, following the release of the Prepare to Die Edition for PC with added content, an expansion DLC was released for both PS3 and Xbox360, titled Artorias of the Abyss.

<li class="text-divider"></li>
<h1>Software</h1>

<p><li>Official title is "Dark Souls"</li>
<li>Before it was decided on this name, the developers intended to name it "Dark Ring," in reference to the aura that emanates from the cursed ring of the main character. The name was discarded when the developers were made aware of it being rude slang in Britain.</li>
<li>The game was released in Japan on September 22, 2011, on October 4 in North America, and on October 7 in Europe</li>
<li>Jointly Developed by From Software and Namco Bandai Games</li>
	<li>In Japan, the title is a Playstation 3 exclusive and is published by From Software.</li>
	<li>Internationally, Namco Bandai Games is the publisher, and the title is available to both Playstation 3 and Xbox 360.</li>
	<li>From Software has stated that they are solely responsible for game content.</li>
	<li>Namco Bandai Games is confident with this arrangement.</li></p>
</li></p>

<li class="text-divider"></li>
<h1>Concepts</h1>

<h2>Developmental</h2>

<p><li>High degree of difficulty.</li>
<li>The objective is to give players a challenge that is rewarding when met.</li>
<li>Difficulty is something anyone can overcome through observation, strategy and choice.</li>
<li>Aiming to provide freedom for the player character.</li>
<li>Demon's Souls' "learn from your mistakes" theme remains the base for the game.</li>
<li>Implementation of a seamless map, that was not realized in Demon's Souls.</li>
<li>The analogy for the game is: "Something spicy, but that anyone can enjoy".</li>
<li>Whilst happy that the game had international appeal, no special intentions to cater to their tastes.
	<li>From Software does not feel confident designing based on market data, so they will instead compete by creating a great game.</li>
</li>
<li>Players will die repeatedly, From Software bets its pride on it.</li></p>


<h2>General</h2>

<p><li>The game revolves around the appearance of the Undead, that will gradually ruin this world.</li>
<li>The game world of medieval fantasy is represented in three main themes: "King and Knight", "Death and the Abyss," "Flame of Chaos"</li>
<li>Exploration of the world will be vital and, thanks to a seamless map, accessible by simply walking.</li>
<li>No maps in hand, the player will have to rely on descriptions and observation.</li>
<li>The game will feature complex environments, with tricks, traps and significant height differences.</li>
<li>Bonfires scattered throughout the world will serve as starting points/checkpoints and as oases for recovery. The player will be able to rest by the bonfire to replenish health, Est and spells.</li>
<li>Humanity is another new concept, and is represented by a number in the top left corner of the HUD, it controls various aspects of the game. Most importantly, it is used to revive from Undead to Human, and to strengthen Bonfires. A Human player can summon Undead players, but will also be open to invasions.</li>
<li>The game will feature different motions and traits for weapons, as well as a great variety of magic and items, encouraging the player to find their own and unique playstyle.</li>
<li>
	<li>The motion will affect the speed and rest of each blow, based on parameters such as the player's strength and ability.</li>
	<li>Tactics such as bypass armor should also be parameter-dependent.</li>
</li>
<li>The expected playtime is 1.5 or 2 times that of Demon's Souls, with a significant increase in weapons, armor, magic and items.</li>
<li>Whilst Demon's Souls had 40 types of enemies, Dark Souls will include close to 100 of them. Enemies will be able to chase players up stairs and ladders, but can be kicked down.</li>
<li>Story will not impose itself upon the player, but it is present. The game world is fragmented, but opportunities for deeper story information are available to players who search.</li>
<li>Takes place in the fictional land of Lordran.</li></p>

<li class="text-divider"></li>
<h1>Notable Differences with Demon Souls</h1>

<p><li>All defense has been lowered, and attack power has increased, hence the introduction of the Iron Flesh magic.</li>
<li>No more munching on grass. Grass has been removed and instead Est can be collected at the fires and carried in bottles. However the amount of bottles a player can carry will be limited. They want to discourage reckless play followed by munching, and instead ask the player to tread with caution.</li>
<li>The player will be able to choose a starting gift at character creation.</li>
<li>No Soul Form, instead you switch between a 'human' form and a 'hollowed' form.</li>
<li>World Tendency is not present as a server median, but a similar effect can be controlled by players online. See the Online section for more information.</li>
<li>The Story and World are not that of Demon's Souls. See the Lore page for more information.</li>
<li>There won't be 5 differentiated worlds as presented in Demon's Souls. See the Places page for more information.</li>
<li>The weapon upgrade system will be easier to understand and there are armor upgrades available.</li></p>

<li class="text-divider"></li>
<h1>Game Data</h1>

<table class="tables">
	<tr>
		<th>Name</th>
		<td>DARK SOULS</td>
		<td>ダークソウル</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Name</th>
		<td align="center"><img src="images/covers/dark/ps3.jpg" alt="PS3 Cover" style="height: 189px; width: 150px;" /><br />PS3 Cover</td>
		<td align="center"><img src="images/covers/dark/360.jpg" alt="XBOX 360 Cover" style="height: 189px; width: 150px;" /><br />XBOX 360 Cover</td>
		<td align="center"><img src="images/covers/dark/pc.jpg" alt="PC Cover" style="height: 189px; width: 150px;" /><br />
		<td align="center"><img src="images/covers/spacer.png" style="height: 189px; width: 150px;" /><br />
	</tr>
	<tr>
		<th>Release Date</th>
		<td>NA: 10/07/2011<br /></td>
		<td>EU: 04/10/2011<br />
			*released by Namco</td>
		<td>JP: 22/09/2011<br />
			*released by FROM Software</td>
		<td>PC: 24/08/2012</td>
	</tr>
	<tr>
		<th>Genre</th>
		<td>Action</td>
		<td>RPG</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Price</th>
		<td>Regular Edition: <br />
			29.99 USD<br />
			4,700 YEN</td>
		<td>Prepare to Die Edition: <br />
			39.95 USD</td>
		<td>DLC: <br />
			15.00 USD<br />
			1,200 YEN</td>
		<td>
	</tr>
	<tr>
		<th>Rating</th>
		<td>Mature</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Online</th>
		<td>PlayStation Network</td>
		<td>Xbox LIVE</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Developer</th>
		<td>From Software</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Publisher</th>
		<td>From Software (Japan)</td>
		<td>Namco Bandai Games (Int'l)</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Director</th>
		<td>Miyazaki Hidetaka</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Official Site</th>
		<td><a href="http://www.fromsoftware.jp/darksouls/" rel="nofollow" target="_blank">Japanese Site</a></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<br/>
<br/>
<br/>