<h1>Origins</h1>
<div class="text-divider"></div>

<p>Demon's Souls is a third person action RPG released in Japan on February 5th, 2009 and in North America on October 6th. It was developed by From Software with the help of Sony Japan studio. It was published by Atlus; Namco Bandai Games published the game for Australia and Europe on June 23 and June 25 2010, respectively.</p>

<li class="text-divider"></li>
<h1>Software</h1>
<p></p>

<li class="text-divider"></li>
<h1>Concepts</h1>

<h2>Developmental</h2>
<p></p>

<h2>General</h2>
<p></p>

<li class="text-divider"></li>
<h1>Game Data</h1>

<table class="tables">
	<tr>
		<th>Name</th>
		<td>DEMON'S SOULS</td>
		<td>デモンズソウル</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Cover</th>
		<td align="center"><img src="images/covers/demon/na.jpg" alt="NA Cover" style="height: 189px; width: 150px;" /><br />North American Cover</td>
		<td align="center"><img src="images/covers/demon/deluxe.jpg" alt="Deluxe Edition Cover" style="height: 189px; width: 150px;" /><br />Deluxe Edition Cover</td>
		<td align="center"><img src="images/covers/spacer.png" style="height: 189px; width: 150px;" /><br />
		<td align="center"><img src="images/covers/spacer.png" style="height: 189px; width: 150px;" /><br />
	</tr>
	<tr>
		<th>Release Date</th>
		<td>NA:<br />06/10/2009</td>
		<td>JP:<br />05/02/2009</td>
		<td>EU:<br />25/06/2010</td>
		<td>AU:<br />25/06/2009</td>
	</tr>
	<tr>
		<th>Genre</th>
		<td>Action</td>
		<td>RPG</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Price</th>
		<td>Regular Edition: <br />
			13.99 USD<br />
			1,700 YEN
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Rating</th>
		<td>Mature</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Online</th>
		<td>PlayStation Network</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Developer</th>
		<td>From Software</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Publisher</th>
		<td>From Software (Japan)</td>
		<td>Namco Bandai Games (Int'l)</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Director</th>
		<td>Miyazaki Hidetaka</td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Official Site</th>
		<td><a href="http://www.jp.playstation.com/scej/title/demons-souls/" rel="nofollow" target="_blank">Japanese Site</a></td>
		<td><a href="http://www.demons-souls.com/" rel="nofollow" target="_blank">English Site</a></td>
		<td></td>
		<td></td>
	</tr>
</table>
<br/>
<br/>
<br/>