<div align=center>
<h1>Souls Encyclopedia</h1>
<br/>
<p>Welcome to Souls Encyclopedia, for all your information on weapons, armor, items, gestures, and walkthroughs. Find out everything you need to know about the Souls games.</p>
<br/>
<br/>
<button ui-sref="about.home" class="red button">About Placeholder Button</button>
<button ui-sref="items.home" class="red button">Items Placeholder Button</button>
<button ui-sref="gameplay.home" class="red button">Gameplay Placeholder Button</button>
<button ui-sref="guides.home" class="red button">Guides Placeholder Button</button>
<br/>
<br/>
<form action="" method="POST">
	<input type="text" placeholder="Name" name="name" >
    <input type="text" placeholder="email@email.com" name="email">
    <input type="submit" class="red button" value="Submit">
</form>
<br/>
</div>