<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Souls Encyclopedia</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">About <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="about.beast">Bloodborne Universe</a></li>
                        <li><a ui-sref="about.dark-ii">Dark Souls II Universe</a></li>
                        <li><a ui-sref="about.dark">Dark Souls Universe</a></li>
                        <li><a ui-sref="about.demon">Demon Souls Universe</a></li>
                        <li class="divider"></li>
                        <li><a ui-sref="contact">Site</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Items <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="items.weapons">Weapons</a></li>
                        <li><a ui-sref="items.shields">Shields</a></li>
                        <li><a ui-sref="items.armor">Armor</a></li>
                        <li><a ui-sref="items.accessories">Rings</a></li>
                        <li><a ui-sref="items.consumables">Consumables</a></li>
                        <li><a ui-sref="items.miscellaneous">Miscellaneous</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Gameplay <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="gameplay.mechanics">Mechanics</a></li>
                        <li><a ui-sref="gameplay.covenants">Covenants</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Guides <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="guides.beast">Bloodborne</a></li>
                        <li><a ui-sref="guides.dark-ii">Dark Souls II</a></li>
                        <li><a ui-sref="guides.dark">Dark Souls</a></li>
                        <li><a ui-sref="guides.demon">Demon Souls</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>